
<div class="item">
	<div class="info">
		<h2><%= movie.title %></h2>
		<p><%= movie.year %></p>
		<p>Action</p>
	</div>

	<a href="<%= movie_path(movie) %>"><img src="<%= movie.picture.url %>" alt="<%= movie.title %>"></a>


	<%= link_to "Like", movie_like_path(movie) %>

	<%= link_to "Nope", movie_nope_path(movie) %>

	<%= link_to "Seen", movie_seen_path(movie) %>

</div>
