
<div class="item suggestion <%= "active" if movie.id == @first_movie.id %>">
	<div class="info">
	</div>


	<blockquote class="embedly-card" data-card-controls="0"><h4><a class="movie-image" href="<%= movie.link %>/image"><%= movie.title %> (<%= movie.year %>)</a></h4><p>Imdb Score: <%= movie.score %></p></blockquote>
	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

	<div class="movie-link">
		<a href="<%= movie_path(movie) %>">More about this movie</a>
	</div>


	<div class="buttons">
		<%= link_to "✔ Yes", movie_like_path(movie), :method => :post, class: "like btn btn-default" , remote: true, :'data-target' => "#myCarousel", :'data-slide' =>"next" %>
		<%= link_to "X No", movie_nope_path(movie), :method => :post, class: "nope btn btn-default" , remote: true, :'data-target' => "#myCarousel", :'data-slide' =>"next"  %>
		<%= link_to "SEEN IT", movie_seen_like_path(movie), :method => :post, class: "btn btn-default", remote: true, :'data-target' => "#myCarousel", :'data-slide' =>"next" %>
	</div>
	
</div>
