
	<div class="carousel-caption">


		<blockquote class="embedly-card"><h4><a class="movie-image" href="<%= @movie.link %>/image"><%= @movie.title %> (<%= @movie.year %>)</a></h4><p>Imdb Score: <%= @movie.score %></p></blockquote>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	</div>


	<div class="update">
		<h3>Admin privileges:</h3>
		<%= link_to 'Edit This', edit_movie_path(@movie) %>
	</div>
