
<div class="intro">

	<% if user_signed_in? %>
		<div class="begin-form">
			<%= form_tag genre_path do %>
			    <%=label_tag 'Choose a movie genre:' %>
			    <%= select_tag('name', options_for_select([['Any'],['Action'], ['Adventure'], ['Comedy'], ['Crime'],  ['Drama'], ['Family'], ['Fantasy'], ['Historical'], ['Horror'], ['Mystery'], ['Thriller'], ['Romance'], ['Sci-Fi'],]), class: 'form-control', style: 'margin-bottom: 15px;') %>

			    <div><%= submit_tag "▷ Begin your experience", style: 'background: white;' %></div>
			<% end -%>


		</div>
		
	<% else %>
		<div class="logged-out">
			<h2> Please login to continue.</h2>
			<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default'  %>
			<%= link_to "Login", new_user_session_path, :class => 'btn btn-default'  %>
		</div>

	<% end %>
</div>

